*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  overflow-x: hidden; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #faf9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.2rem;
  height: 7rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.6rem; }
  header .btn-mobile-nav {
    z-index: 9999;
    border: none;
    background: none;
    cursor: pointer;
    display: none; }
    header .btn-mobile-nav .icon-mobile-nav {
      color: #0B1925;
      height: 4.8rem;
      width: 4.8rem; }
      header .btn-mobile-nav .icon-mobile-nav[name="close-outline"] {
        display: none; }
  header .logo {
    color: #0B1925;
    font-family: "Inter", sans-serif;
    font-size: 2.2rem; }
    header .logo:link, header .logo:visited {
      text-decoration: none;
      color: #0B1925; }
  header .main-nav-list {
    display: flex;
    gap: 3.2rem;
    list-style: none; }
  header .main-nav-link:link, header .main-nav-link:visited {
    text-decoration: none;
    color: #080809;
    padding-bottom: 1.5rem;
    letter-spacing: 1px; }
  header .main-nav-link:hover, header .main-nav-link:active {
    font-weight: 900;
    background-color: transparent;
    color: #594BD9;
    border-bottom: 2px solid #594BD9; }
  header .main-nav .nav-cta {
    font-weight: 700;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px; }
    header .main-nav .nav-cta:hover {
      border-bottom: none; }
    header .main-nav .nav-cta:link {
      padding: 1.2rem 2.4rem;
      background-color: #594BD9;
      color: white;
      letter-spacing: 1px; }

.section-hero {
  padding: 0 0 0 0;
  color: #0B1925;
  background-image: url("/img/bg-section-hero.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400; }
  .section-hero .hero {
    display: grid;
    padding: 0 24rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center; }
    .section-hero .hero-text-box {
      padding-left: 5rem; }
      .section-hero .hero-text-box p {
        font-size: 2.8rem; }
      .section-hero .hero-text-box .job {
        margin-bottom: 5.2rem; }
      .section-hero .hero-text-box h1 {
        padding: 1rem 0;
        font-size: 10rem;
        line-height: 1; }
      .section-hero .hero-text-box .firstname {
        color: #858c92;
        margin-bottom: 0; }
      .section-hero .hero-text-box .lastname {
        margin-top: -3rem;
        padding-left: 5rem; }
      .section-hero .hero-text-box .developer-type {
        color: #594BD9; }
      .section-hero .hero-text-box .social-links {
        display: flex;
        list-style: none;
        gap: 4.8rem; }
        .section-hero .hero-text-box .social-links a ion-icon {
          height: 3rem;
          width: 3rem;
          color: #075AF7; }
    .section-hero .hero .hero-image {
      display: flex;
      justify-content: center;
      align-items: center; }
      .section-hero .hero .hero-image .profile-picture {
        justify-content: center;
        max-height: 45rem;
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        border: 3px solid white;
        box-shadow: 0 0 35px rgba(89, 75, 217, 0.67);
        animation: animate 5s ease-in-out infinite;
        transition: all 1s ease-in-out; }
    .section-hero .hero__socials {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
      padding: .5rem; }
    .section-hero .hero__social {
      padding: 1rem; }
      .section-hero .hero__social a ion-icon {
        height: 3.2rem;
        width: 3.2rem;
        color: #0B1925;
        padding: 0.5rem; }
        .section-hero .hero__social a ion-icon:hover {
          background: rgba(0, 123, 255, 0.2);
          border-radius: 5px; }
        .section-hero .hero__social a ion-icon.logo-linkedin:hover {
          color: #0762C8; }
        .section-hero .hero__social a ion-icon.logo-facebook:hover {
          color: #1877F2; }
        .section-hero .hero__social a ion-icon.logo-github:hover {
          color: #171515; }
        .section-hero .hero__social a ion-icon.logo-mail:hover {
          color: #EA4335; }

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%; }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%; }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%; } }

.section-about {
  background-color: #faf9f9;
  padding: 9.6rem 0;
  min-height: 100vh; }
  .section-about .container {
    max-width: 120rem;
    padding: 3.2rem 6.4rem;
    margin: 0 auto;
    background-color: #f4f3f2;
    border-radius: 12px; }
    .section-about .container.reveal {
      position: relative;
      transform: translateY(15rem);
      opacity: 0;
      transition: all 2s ease; }
      .section-about .container.reveal.active {
        transform: translateY(0);
        opacity: 1; }
    .section-about .container .about-title {
      margin-bottom: 3rem;
      text-align: center; }
    .section-about .container .heading-secondary {
      font-size: 3.6rem;
      text-transform: uppercase;
      color: black;
      position: relative;
      margin-bottom: 4rem; }
      .section-about .container .heading-secondary::after {
        content: '';
        position: absolute;
        top: calc(100% + 1.5rem);
        height: 5px;
        width: 5rem;
        background: #594BD9;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px; }
    .section-about .container .about-paragraph {
      color: #858c92;
      line-height: 1.6;
      font-weight: 400;
      font-size: 1.8rem;
      padding: 0 3.2rem; }
    .section-about .container .about-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10rem;
      padding-top: 1rem; }
      .section-about .container .about-content .heading-tertiary {
        color: black;
        font-size: 2.8rem;
        margin-bottom: 3rem; }
      .section-about .container .about-content-details-para {
        color: black;
        font-weight: 400;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        line-height: 1.8;
        text-align: justify; }
      .section-about .container .about-content .skills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3.2rem; }
        .section-about .container .about-content .skills .skill {
          display: flex;
          flex-direction: column;
          align-items: center; }
        .section-about .container .about-content .skills i {
          color: #FFF; }
        .section-about .container .about-content .skills .icon-angular {
          color: #F54335;
          cursor: pointer; }
        .section-about .container .about-content .skills .icon-aws {
          color: #FF9900;
          cursor: pointer; }
        .section-about .container .about-content .skills .icon-html {
          color: #E44D26; }
        .section-about .container .about-content .skills .icon-css {
          color: #24ABE0; }
        .section-about .container .about-content .skills .icon-js {
          color: #F7DF1E; }
        .section-about .container .about-content .skills .icon-git {
          color: #F05033; }
        .section-about .container .about-content .skills .icon-node {
          color: #8BC500; }
        .section-about .container .about-content .skills .icon-java {
          color: #027493; }
        .section-about .container .about-content .skills .icon-sass {
          color: #CB6B9B; }

.section-experience {
  background-color: #faf9f9;
  padding: 9.6rem 0; }
  .section-experience .container {
    max-width: 90rem;
    padding: 0 5rem;
    margin: 0 auto; }
    .section-experience .container .row .col .experience-title {
      font-size: 3.6rem;
      font-weight: 900;
      margin-bottom: 3.2rem; }
    .section-experience .container .row .col .timeline {
      list-style: none;
      position: relative; }
      .section-experience .container .row .col .timeline .experience-item:hover .experience-title {
        color: #594BD9; }
      .section-experience .container .row .col .timeline .experience-item:hover .experience-year {
        color: #6e7276; }
      .section-experience .container .row .col .timeline-container {
        display: grid;
        grid-template-columns: 0.5fr 2fr; }
        .section-experience .container .row .col .timeline-container .experience-year {
          font-size: 2.4rem;
          font-weight: 800;
          color: #9da3a8; }
        .section-experience .container .row .col .timeline-container .experience-title {
          font-size: 2.4rem;
          margin-bottom: 1.2rem; }
        .section-experience .container .row .col .timeline-container .experience-para {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2;
          text-align: justify; }
      .section-experience .container .row .col .timeline-year {
        font-weight: 600;
        font-size: 2.4rem; }
      .section-experience .container .row .col .timeline-title {
        font-weight: 400;
        font-size: 1.6rem; }
      .section-experience .container .row .col .timeline-para {
        font-weight: 400;
        line-height: 2;
        font-size: 1.2rem; }
      .section-experience .container .row .col .timeline::before {
        content: '';
        background: #0B1925;
        display: inline-block;
        position: absolute;
        left: 0;
        width: 1px;
        top: 4px;
        height: 100%;
        z-index: 400; }
      .section-experience .container .row .col .timeline li {
        margin: 2rem; }
        .section-experience .container .row .col .timeline li::before {
          content: " ";
          background: #faf9f9;
          display: inline-block;
          position: absolute;
          border-radius: 50%;
          border: 2px solid #0B1925;
          left: -7px;
          width: 15px;
          height: 15px;
          margin-top: 8px;
          z-index: 400; }

.section-contact {
  background-image: url("/img/bg-section-about.png");
  background-size: cover;
  padding: 4.8rem 0 12.8rem; }
  .section-contact .container {
    max-width: 140rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    text-align: center; }
    .section-contact .container .cta__form-field {
      margin-bottom: 1.6rem; }
    .section-contact .container .cta .heading-secondary {
      font-weight: 900;
      font-size: 3.6rem;
      color: black;
      position: relative;
      margin: 4rem 0 3.2rem; }
      .section-contact .container .cta .heading-secondary::after {
        content: '';
        position: absolute;
        top: calc(100% + 1.5rem);
        height: 5px;
        width: 3rem;
        background: #594BD9;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px; }
    .section-contact .container .cta .cta-text {
      font-size: 1.8rem;
      line-height: 1.8;
      color: #858c92;
      margin-bottom: 6rem; }
    .section-contact .container .cta .contact__form-container {
      padding: 4rem;
      max-width: 80rem;
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
      margin: 5rem auto 0 auto;
      width: 95%;
      border-radius: 5px;
      text-align: right; }
    .section-contact .container .cta .cta-form .cta-form-input {
      width: 100%;
      padding: 2rem;
      font-size: 1.6rem;
      font-family: inherit;
      border: none;
      margin-bottom: 2rem;
      background-color: #ebebec;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
      .section-contact .container .cta .cta-form .cta-form-input-textarea {
        height: 15rem;
        resize: none; }
    .section-contact .container .cta .cta-form .btn {
      display: inline-block;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 700;
      padding: 1.6rem 3.2rem;
      border: none;
      cursor: pointer;
      font-family: inherit;
      transition: all 0.3s;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .section-contact .container .cta .cta-form .btn--form {
      background-color: #594BD9;
      color: white;
      padding: 1.2rem 2.4rem;
      border: 2px solid transparent;
      border-radius: 5px; }

@media (max-width: 60em) {
  /*  .section-hero {

      .hero {
        grid-template-columns: 1fr;
        justify-items: center;

        &-text-box{
          h1 {
            font-size: 5rem;
          }
        }

        .hero-image {
          .profile-picture {
            max-height: 45vh;
          }
        }
      }
    }*/ }

@media (max-width: 50em) {
  header .btn-mobile-nav {
    display: block; }
  header .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 1.5s; }
    header .main-nav-list {
      flex-direction: column;
      gap: 4.8rem;
      align-items: center; }
    header .main-nav-link:link, header .main-nav-link:visited {
      font-size: 3rem; }
  header.nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible; }
  header.nav-open .icon-mobile-nav[name="close-outline"] {
    display: block; }
  header.nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none; }
  /*  .section-hero {
      .hero {
        &__socials {
          display: none;
        }
        .hero-image {
          .profile-picture {
            max-height: 25vh;
          }
        }
      }
    }

    .section-about {
      .container {
        margin: 0 2rem;

        .about-content {
          grid-template-columns: 1fr;
          grid-gap: 3rem;

          .skills {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.8rem;
          }
        }
      }
    }

    .section-experience {
      .container {
        .row {
          .col {
            .experience-title {
              font-size: 1rem;
            }
          }
        }
      }
    }*/ }
