$bg-color: #1e1e20;
$bg-light-color: #303036;
$text-color: #f9f9f9;
$para-color: #9c9c9c;
$main-color: #8f43ee;
$light-color: #b37df5;
$extra-light: #cea5ff;

$color-primary-dark: #2D2E32;
$color-secondary-dark: #25262A;
$color-primary-green: #65F3AF;
$color-secondary-green: #51C28C;

$color-white: #FFF;
$color-grey: #828387;
$color-grey-light: #9b9c9f;
$color-grey-extra-light: #ebebec;

$color-angular: #F54335;
$color-html: #E44D26;
$color-css: #24ABE0;
$color-aws: #FF9900;
$color-js: #F7DF1E;
$color-git: #F05033;
$color-node: #8BC500;
$color-java: #027493;

