$color-primary-dark: #2D2E32;
$color-secondary-dark: #25262A;
$color-primary-green: #65F3AF;
$color-secondary-green: #51C28C;

$color-white: #FFF;
$color-grey: #828387;
$color-grey-light: #9b9c9f;

$color-angular: #F54335;
$color-html: #E44D26;
$color-css: #24ABE0;
$color-aws: #FF9900;
$color-js: #F7DF1E;
$color-git: #F05033;
$color-node: #8BC500;
$color-java: #027493;

