header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #faf9f9;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.2rem;
  height: 7rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.6rem;

  .btn-mobile-nav{
    z-index: 9999;
    border: none;
    background: none;
    cursor: pointer;
    display: none;
    .icon-mobile-nav{
      color: #0B1925;
      height: 4.8rem;
      width: 4.8rem;

      &[name="close-outline"]{
        display: none;
      }
    }


  }

  .logo {
    color: #0B1925;
    font-family: "Inter", sans-serif;
    font-size: 2.2rem;

    &:link, &:visited {
      text-decoration: none;
      color: #0B1925;
    }

    &-firstname {
      color: #858c92;
    }
  }

  .main-nav {
    &-list {
      display: flex;
      gap: 3.2rem;
      list-style: none;
    }

    &-link {
      &:link, &:visited {
        text-decoration: none;
        color: #080809;
        padding-bottom: 1.5rem;
        letter-spacing: 1px;
      }


      &:hover, &:active {
        font-weight: 900;
        background-color: transparent;
        color: #594BD9;
        border-bottom: 2px solid #594BD9;
      }
    }

    .nav-cta {
      font-weight: 700;
      color: white;
      //box-shadow: 0 0 12px #33B0F9;
      border: 2px solid transparent;
      border-radius: 5px;

      &:hover {
        border-bottom: none;
      }

      &:link {
        padding: 1.2rem 2.4rem;
        background-color:  #594BD9;
        color: white;
        letter-spacing: 1px;
      }
    }
  }
}
