header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.2rem;
  height: 7rem;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.6rem;

  .logo {
    color: #110e1f;
    font-family: "Inter", sans-serif;
    font-size: 2rem;

    &:link, &:visited {
      text-decoration: none;
      color: #110e1f;
    }
  }

  .main-nav {
    &-list {
      display: flex;
      gap: 3.2rem;
      list-style: none;
    }

    .nav-cta {
      &:link {
        padding: 1.2rem 2.4rem;
        background-color: #110e1f;
      }
    }
    &-link {
      &:link, &:visited {
        text-decoration: none;
        color: #110e1f;
        padding-bottom: 1.5rem;
      }

      &:hover, &:active {
        font-weight: bold;
        color: #110e1f;
        border-bottom: 2px solid #110e1f;
      }
    }

    .nav-cta {
      font-weight: bold;
      color: #f7f7f7;
      &:hover {
        border-bottom:none;
      }
    }
  }
}
