@media (max-width: 85em) {

  .section-hero {
    .hero {
      grid-template-columns: 1fr;
      justify-items: center;

    }
  }
}

@media (max-width: 75em) {

  .section-about {
    padding: 9.6rem 4.8rem;

    .container {
      .about-content {
        grid-template-columns: 1fr;
        grid-gap: 5rem;
      }
    }
  }
}

@media (max-width: 50em) {
  .section-hero {
    .hero {
      &-text-box {
        padding-left: 0;
        text-align: center;
        h1 {
          font-size: 5rem;
        }

        .hero__socials {
          display: none;
        }
      }

      .hero-image {
        .profile-picture {
          max-height: 35rem;
        }
      }
    }
  }

  header {
    .btn-mobile-nav {
      display: block;
    }


    .main-nav {
      background-color: rgba(255, 255, 255, 0.97);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;

      display: flex;
      align-items: center;
      justify-content: center;

      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transition: all 1.5s;

      &-list {
        flex-direction: column;
        gap: 4.8rem;
        align-items: center;
      }

      &-link {
        &:link, &:visited {
          font-size: 3rem;
        }
      }
    }


    &.nav-open {
      .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
      }

      .icon-mobile-nav {
        &[name="close-outline"] {
          display: block;
        }

        &[name="menu-outline"] {
          display: none;
        }
      }
    }
  }

  .section-experience {
    .container {
      .row {
        .col {
          .timeline {
            &-container {
              grid-template-columns: 1fr 2fr;

              .experience-year {
                font-size: 2rem;
                font-weight: 600;
              }

              .experience-title {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }

}

@media (max-width: 30em) {

  .section-about {
    .container {
      padding: 2rem;
      .about-content {
        &-details {
          &-para {
            font-size: 1.4rem;
          }
        }

        .skills {
          .skill-icon{
            font-size: 4rem;
          }
        }
      }
    }
  }

  .section-hero {

    .hero {
      padding: 0 5rem;

      &-text-box {

        p {
          font-size: 2rem;
        }
      }


      .hero-image {
        .profile-picture {
          max-height: 25rem;
        }
      }
    }
  }


  .section-experience {
    .container {
      .row {
        .col {
          .timeline {
            &-container {
              grid-template-columns: 1fr 2fr;

              .experience-para {
                text-align: left;
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }

}
