
.section-hero {
  padding: 0 0 0 0;
  color: #0B1925;
  background-image: url("/img/bg-section-hero.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;

  .hero {
    display: grid;
    grid-gap: 2rem;
    padding: 0 24rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    &-text-box {
      padding-left: 5rem;

      p {
        font-size: 2.8rem;
      }

      .job {
        margin-bottom: 5.2rem;
      }

      h1 {
        padding: 1rem 0;
        font-size: 10rem;
        line-height: 1;
      }

      .firstname{
        color: #858c92;
        margin-bottom: 0;
      }

      .lastname {
        margin-top: -3rem;
        padding-left: 5rem;
      }

      .developer-type{
        color: #594BD9;
      }

      .social-links {
        display: flex;
        list-style: none;
        gap: 4.8rem;

        a {
          ion-icon {
            height: 3rem;
            width: 3rem;
            color:  #075AF7;
          }
        }
      }
    }

    .hero-image {
      display: flex;
      justify-content: center;
      align-items: center;
      .profile-picture {
        justify-content: center;
        max-height: 45rem;
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        border: 3px solid white;
        box-shadow: 0 0 35px rgba(89, 75, 217, 0.67);
        animation: animate 5s ease-in-out infinite;
        transition: all 1s ease-in-out;
      }
    }

    &__socials {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
      padding: .5rem;
    }

    &__social {
      padding: 1rem;

      a {
        ion-icon {
          height: 3.2rem;
          width: 3.2rem;
          color: #0B1925;
          padding: 0.5rem;

          &:hover{
            background: rgba(0, 123, 255, 0.2);
            border-radius: 5px;

          }

          &.logo-linkedin {
            &:hover {
              color: #0762C8;
            }
          }

          &.logo-facebook {
            &:hover {
              color: #1877F2;
            }

          }

          &.logo-github {
            &:hover{
              color: #171515;
            }
          }

          &.logo-mail {
            &:hover{
              color: #EA4335;
            }

          }
        }
      }
    }
  }


}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.section-about {

  background-color: #faf9f9;
  padding: 9.6rem 0;
  min-height: 100vh;

  .container {
    max-width: 120rem;
    padding: 3.2rem 6.4rem;
    margin: 0 auto;
    background-color: #f4f3f2;
    border-radius: 12px;

    &.reveal {
      position: relative;
      transform: translateY(15rem);
      opacity: 0;
      transition: all 2s ease;

      &.active {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .about-title {
      margin-bottom: 3rem;
      text-align: center;
    }

    .heading-secondary {
      font-size: 3.6rem;
      text-transform: uppercase;
      color: black;
      position: relative;
      margin-bottom: 4rem;

      &::after {
        content: '';
        position: absolute;
        top: calc(100% + 1.5rem);
        height: 5px;
        width: 5rem;
        background: #594BD9;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
      }
    }

    .about-paragraph {
      color: #858c92;
      line-height: 1.6;
      font-weight: 400;
      font-size: 1.8rem;
      padding: 0 3.2rem;
    }

    .about-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10rem;
      padding-top: 1rem;

      .heading-tertiary {
        color: black;
        font-size: 2.8rem;
        margin-bottom: 3rem;
      }

      &-details {
        &-para {
          color: black;
          font-weight: 400;
          font-size: 1.6rem;
          margin-bottom: 1rem;
          line-height: 1.8;
          text-align: justify;
        }
      }

      .skills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3.2rem;

        .skill {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        i {
          color: $color-white;
        }

        .skill-icon{
          font-size: 6rem;
        }

        .icon-angular {
          color: $color-angular;
          cursor: pointer;
        }

        .icon-aws {
          color: $color-aws;
          cursor: pointer;
        }

        .icon-html {
          color: $color-html
        }

        .icon-css {
          color: $color-css
        }

        .icon-js {
          color: $color-js
        }

        .icon-git {
          color: $color-git
        }

        .icon-node {
          color: $color-node
        }

        .icon-java {
          color: $color-java;
        }

        .icon-sass {
          color: #CB6B9B
        }
      }
    }

  }
}

.section-experience {
  background-color: #faf9f9;

  padding: 9.6rem 0;

  .container {
    max-width: 90rem;
    padding: 0 5rem;
    margin: 0 auto;

    .row {
      .col {
        .experience-title {
          font-size: 3.6rem;
          font-weight: 900;
          margin-bottom: 3.2rem;
        }

        .job-title {
          //color: #594BD9;
        }

        .timeline{
          list-style: none;
          position: relative;


          .experience-item {
            &:hover{
              .experience-title{
                color: #594BD9;
              }

              .experience-year{
                color: #6e7276;
              }
            }
          }

          &-container{
            display: grid;
            grid-template-columns: 0.5fr 2fr;



            .experience-year {
              font-size: 2.4rem;
              font-weight: 800;
              color: #9da3a8;
            }

            .experience-title {
              font-size: 2.4rem;
              margin-bottom: 1.2rem;
            }


            .experience-para {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 2;
              text-align: justify;
            }
          }

          &-year {
            font-weight: 600;
            font-size: 2.4rem;
          }

          &-title{
            font-weight: 400;
            font-size: 1.6rem;
          }

          &-para {
            font-weight: 400;
            line-height: 2;
            font-size: 1.2rem;
          }

          &::before{
            content: '';
            background: #0B1925;
            display: inline-block;
            position: absolute;
            left: 0;
            width: 1px;
            top: 4px;
            height: 100%;
            z-index: 400;
          }

          li {
            margin: 2rem;

            &::before {
              content: " ";
              background: #faf9f9;
              display: inline-block;
              position: absolute;
              border-radius: 50%;
              border: 2px solid #0B1925;
              left: -7px;
              width: 15px;
              height: 15px;
              margin-top: 8px;
              z-index: 400;
            }
          }
        }
      }
    }

  }
}

.section-contact {
  background-image: url("/img/bg-section-about.png");
  background-size: cover;
  padding: 4.8rem 0 12.8rem;

  .container {
    max-width: 140rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    text-align: center;

    .cta {

      &__form-field {
        margin-bottom: 1.6rem;
      }

      .heading-secondary {
        font-weight: 900;
        font-size: 3.6rem;
        color: black;
        position: relative;
        margin: 4rem 0 3.2rem;

        &::after {
          content: '';
          position: absolute;
          top: calc(100% + 1.5rem);
          height: 5px;
          width: 3rem;
          background:  #594BD9;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 5px;
        }


      }

      .cta-text {
        font-size: 1.8rem;
        line-height: 1.8;
        color: #858c92;
        margin-bottom: 6rem;
      }

      .contact__form-container {
        padding: 4rem;
        max-width: 80rem;
        background-color: white;
        box-shadow: rgba(100,100,111,0.2) 0 7px 29px 0;
        margin: 5rem auto 0 auto;
        width: 95%;
        border-radius: 5px;
        text-align: right;
      }

      .cta-form {
        .cta-form-input {
          width: 100%;
          padding: 2rem;
          font-size: 1.6rem;
          font-family: inherit;
          border: none;
          margin-bottom: 2rem;
          background-color: $color-grey-extra-light;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

          &-textarea {
            height: 15rem;
            resize: none;
          }
        }

        .btn {
          display: inline-block;
          text-decoration: none;
          font-size: 1.6rem;
          font-weight: 700;
          border: none;
          cursor: pointer;
          font-family: inherit;
          transition: all 0.3s;
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        .btn--form {
          background-color:  #594BD9;
          color: white;
          padding: 1.2rem 2.4rem;
          border-radius: 5px;

        }
      }
    }
  }
}

footer{
  .main-footer__low{
    text-align: center;
    padding: 4rem 0;
    font-size: 1.2rem;
  }
}
